body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #275087;  /* Rojo */
    overflow: hidden;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #e3b142;  /* Rojo oscuro al pasar el ratón */
}

.content {
    padding: 20px;
}
